/backend/app/__pycache__
/backend/app/api/endpoints/__pycache__
/backend/app/api/schemas/__pycache__
/backend/app/core/__pycache__
/backend/app/db/__pycache__
/backend/app/db/models/__pycache__
/backend/app/db/seed/__pycache__
/backend/app/services/__pycache__
/backend/app/api/__pycache__
/backend/alembic/__pycache__
/node_modules
